.current-need {
  margin-top: 2em;
}

.current-need__data {
  margin-bottom: 1em;
}

.current-need__data > p {
  margin-bottom: 0;
  font-size: 1.25em;
  font-style: italic;
  font-weight: 600;
}

.current-need__data > p > span {
  float: right;
}

.current-need > .ui.progress:last-child {
  margin-bottom: 0;
}