.embed.google-map {
  width: 300px;
  height: 300px;
  margin-left: 1em;
  margin-bottom: 1em;
  padding: 0;
  float: right;
}

@media screen and (max-width: 650px) {
  .embed.google-map {
    display: none;
  }
}