.stay-connected__header {
  font-style: italic;
}

.stay-connected .stay-connected__submit-button {
  position: relative;
}

.stay-connected .stay-connected__submit-button > .button {
  border: 1px solid rgba(34,36,38,.15);
  position: absolute;
  bottom: 0;
}